/* Basic Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Variables */

:root {
    /* COLOR */
    --BGCOLOR1: hsl(270, 33%, 25%);
    --LREBECA: linear-gradient(40deg,rebeccapurple,pink);
    --BGCARD: #CBD;
    --EMJCOFFEE: '☕';
    --EMJPUMP: '🎃';
    --RBACKGROUND: radial-gradient(whitesmoke,var(--BGCOLOR1));
}

/* Utility */


.nowrap {
    white-space: nowrap;
}

/* General Styles */

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;

    font: 1.5rem monospace;
    min-height: 100vh;

    background-image: var(--RBACKGROUND);
}

header, footer {
    position: sticky;
    background-color: var(--BGCOLOR1);
    color: whitesmoke;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    flex-grow: 1;
    padding: 1rem;
}

header {
    top:0;
}

nav {
    background-color: white;
    padding: 0.5rem;
    border-bottom: 2px solid #333;
    font-weight: bolder;

    display: flex;
    justify-content: space-evenly;
}

	

nav a:any-link{
    /* a:any-link =  :is(a,a:visited) */
    color: black;
}

nav :is(a:hover, a:focus) {
    color: #333;
}

nav a:active {
    color: red;
}

footer {
    bottom: 0;
}

.back {
    align-self: center;
    text-decoration: none;
}

.feet {
    padding: 0.5rem 0.5rem;
}

/* profile card */

.card {
    text-align: center;
    /* height: 32rem; */
    scroll-margin-top: 8rem;
    width: min(100%,350px);
    background-color: var(--BGCARD);
    border: 2px solid black;
    border-radius: 15px;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img:not([alt]) {
    border: 10px solid red;
}

.card:nth-child(666) {
    border: 2px solid black;
}

.card:target {
    border: 2px solid rebeccapurple;
    background: var(--LREBECA);
    background-size: contain;
    background-position: center;
}

.card figure{
    display: flex;
    flex-flow: column nowrap;
}

.card img {
    height: 50%;
    width: auto;
    border: 8px double black;
    border-radius: 50%;
}

.card figcaption {
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    margin: 1rem;
}

.card figcaption::first-letter {
    font-size: 1.75em;
}

.card figcaption::first-line {
    color: black;
}

.card figcaption::after {
    display: block;
    content: var(--EMJCOFFEE);
}

.card:nth-child(2) figcaption::after {
    display: block;
    content: var(--EMJPUMP);
}




/* SMALL */

@media screen and (min-width: 576px) {
    main {
        justify-content: center;
        flex-flow: row wrap;
    } 

    .card {
        width: min(100%,400px)
    } 
    
    .card:last-child {
        order: -1;
    }
}

/* MEDIUM */

@media screen and (min-width: 768px) {
    nav {
        display: none;
    } 

    .back {
        display: flex;
        align-content: center;
        justify-content: center;
        display: none;
    }
    
    .card {
        width: min(100%,325px);
    } 
    
    .card figure {
        flex-flow: column-reverse;
    } 
    
    .card figcaption {
        margin: 0.1rem 0;
    } 
    
    .card p {
        margin-top: 1rem;
    }
}

/* LARGE */

@media screen and (min-width: 992px) {
    .card {
        width: min(100%,400px);
    } 
    
    .card:nth-child(2) {
        order: -1;
    }
}

/* XLARGE */

@media screen and (min-width: 1220px) {
    .card {
        width: min(calc(33% - 1rem,500px));
    }
}

/* MOBILE DEVIDE LANDSCAPE */

@media screen and (max-height: 425px) and (min-aspect-ratio:7/4) {
    h1 {
        font-size: 1.5rem;
    } 
    
    nav {
        display: none;
    } 
    
    main {
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: stretch;
    } 
    
    .card {
        width: min(calc(33% - 0.25rem),200px)
    } 
    
    .card figcaption, .card p {
        font-size: 1.25rem;
    }
}

