/* Basic Reset Bellow */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

/* Basic Reset Above */

/* General Styles Bellow*/

body {
    font: 1.5rem monospace;
    min-height: 100vh;
    background-color: #333;
    background-image: radial-gradient(whitesmoke,#333);
    display: flex;
    flex-direction: column;
}

header, nav, main, footer {
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
}

header, footer {
    position: sticky;
    background-color: #333;
    color: whitesmoke;
}

main {
    flex-grow: 1;
}

header {
    top:0;
}

nav {
    background-color: white;
    color: #333;
    padding: 0.5rem;
    border-bottom: 2px solid #333;
}

footer {
    bottom: 0;
}


/* General Styles Above */

/* small */
@media screen and (min-width: 576px) {
    body {
        background-color: blue;
        background-image: radial-gradient(whitesmoke,blue);
    }
}