* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background: linear-gradient(45deg,#0f38a1,#77f);
    /* here you can change the background commenting the line below, you will probably want to change the animation speed too :happy-face:*/
    background: url('../img/nuvem.jpg');
    background-size: 400%;
    animation: animate 90s ease-in-out infinite;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes animate {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.container {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    display: grid;
    /* "it would be probably easier to make the alignment if I had more columns and rows" */
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(6,1fr);
    background-color: #ffffff0f;
    height: 60vh;
    width: 80vh;
    border-radius: 3vh;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box input {
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
    border: 1px solid #aaffff22;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    height: 45%;
    width: 75%;
    border-radius: 10vh;
    background-color: #aaffff88;
}

.box input::placeholder {
    text-align: center;
    color: #00000088;
}

.box button {
    border: 1px solid #aaffff22;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    width: 25%;
    height: 45%;
    border-radius: 10vh;
    background-color: #aaffff88;
    color: #00000088;
}

.box:first-child {
    grid-row: 1/4;
} 

.smIcon {
    position: absolute;
    top: 53vh;
    height: 4vh;
}

.smIcon2 {
    position: absolute;
    top: 63vh;
    height: 4vh;
}

.logo {
    height: 75%;
}

