#drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    max-width: 40%;
  }

  #file-input {
    display: none;
  }

  #drop-zone:hover {
    border-color: #007BFF;
  }

  /* Estilo quando o usuário arrasta um arquivo sobre a área */
  #drop-zone.dragover {
    border-color: #007B00;
  }
